@model FlexSoft.Infrastructure.Entites.IdentityModels.User

@{
    ViewBag.Title = "ViewProfile";
}


<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>
            <a href="@Url.Action("EditProfile", "Profile")" class="btn btn-info">
                Edit Profile
                <span class="arrow" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Logout", "Login")" class="btn btn-info">
                Log Out
                <span class="arrow" aria-hidden="true"></span>
            </a>
        </li>
        
    </ul>
</div>


<div class="container">
    <h2>View Profile</h2>
   
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">@Html.DisplayNameFor(model => model.Name)</div>
            <div class="panel-body">@Html.DisplayFor(model => model.Name)</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">@Html.DisplayNameFor(model => model.RfidCardNumber)</div>
            <div class="panel-body">@Html.DisplayFor(model => model.RfidCardNumber)</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">@Html.DisplayNameFor(model => model.Email)</div>
            <div class="panel-body">@Html.DisplayFor(model => model.Email)</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">@Html.DisplayNameFor(model => model.PhoneNumber)</div>
            <div class="panel-body">  @Html.DisplayFor(model => model.PhoneNumber)</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">@Html.DisplayNameFor(model => model.UserName)</div>
            <div class="panel-body">  @Html.DisplayFor(model => model.UserName)</div>
        </div>
    </div>
</div>



<!----<div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RfidCardNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RfidCardNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmailConfirmed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PasswordHash)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PasswordHash)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SecurityStamp)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SecurityStamp)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumberConfirmed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TwoFactorEnabled)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TwoFactorEnabled)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LockoutEndDateUtc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LockoutEnabled)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LockoutEnabled)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccessFailedCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccessFailedCount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

        </dl>
    </div>
    <p>

    </p>
>