@model FlexSoft.Infrastructure.Entites.IdentityModels.User

@{
    ViewBag.Title = "ViewProfile";
}



<div class="container">
    <h2 style="color: white; padding: 10px; font-weight: normal; color:white; font-family: \"Georgia\", Times, serif" ;color:white;>View Profile</h2>
   
    <div class="panel-group" style="padding: 8px; ">
        <div class="panel panel-default">
            <div class="panel-heading">@Html.DisplayNameFor(model => model.Name)</div>
            <div class="panel-body">@Html.DisplayFor(model => model.Name)</div>
        </div>
        <div class="panel panel-default"  style="padding: 8px">
            <div class="panel-heading">@Html.DisplayNameFor(model => model.RfidCardNumber)</div>
            <div class="panel-body">@Html.DisplayFor(model => model.RfidCardNumber)</div>
        </div>
        <div class="panel panel-default"  style="padding: 8px">
            <div class="panel-heading">@Html.DisplayNameFor(model => model.Email)</div>
            <div class="panel-body">@Html.DisplayFor(model => model.Email)</div>
        </div>
        <div class="panel panel-default"  style="padding: 8px">
            <div class="panel-heading">@Html.DisplayNameFor(model => model.PhoneNumber)</div>
            <div class="panel-body">  @Html.DisplayFor(model => model.PhoneNumber)</div>
        </div>
        <div class="panel panel-default"  style="padding: 8px">
            <div class="panel-heading">@Html.DisplayNameFor(model => model.UserName)</div>
            <div class="panel-body">  @Html.DisplayFor(model => model.UserName)</div>
        </div>
        <div class="panel panel-default"  style="padding: 8px">
            <div class="panel-heading">@Html.DisplayNameFor(model => model.AccessFailedCount)</div>
            <div class="panel-body">  @Html.DisplayFor(model => model.AccessFailedCount)</div>
        </div>
    </div>
</div>


